/* This is the CSS for the my illustr8 website remake */


* {
    box-sizing: border-box;
}

body {
    background-color: #1B6CE2;
    color: white;
}


div.gallery img {
    height: auto;
    width: 100%;
    border: 2px solid white;
}


/* .responsive {
    padding: 0 8px;
    max-width: 100%;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
}

*/

.button {
    background-color: #43C5EE;
    /* lighter blue */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    border-radius: 8px;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

#photo img:hover {
    /* neeed to add some effects to when hovering over an image*/
}

/* Create four rows next to each other */
.row {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.row img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

@media (max-width: 1200px) {

    /* keep @media quires at the end*/
    #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
